{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "conexao": "xxx;Port=5432;Database=xx;User Id=xx;Password=xxxx;"
  }
}
